/* pages/user/user.wxss */
/* 使用page就是为了保证  满屏 */
.back_img{
  position: absolute;
  z-index: -200;
  width: 100%;
  height: 460rpx;  
}
.view_contain{
  width: 92%;
  position: relative;
  top:90rpx;
}
.containers{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usr_message{
  background-color: blanchedalmond;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 13px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  height: 190rpx;
  flex-direction: row;
  justify-content: space-between;
}
.user{
  display: flex;
  flex-direction: row;
}
.usr_name{
  padding-top: 5px;
  padding-bottom: 3px;
  font-weight: bold;
}
.usr_detail{
  margin-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.usr_star{
  font-size: 27rpx;
}
.usr_tell{
  font-size: 27rpx;
  word-break: break-all;
  margin-right: 2px;
}
.usr_button{
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 5px;
}
.action{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eceaea;
}
.action_delete{
  width: 100%;
  text-align: center;
}
.act_bar{
  position:absolute;
  top:490rpx;
  background-color: #ffffff;
  border-radius: 16rpx 16rpx 0 0;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 92%;
  justify-content: space-around;
}
.liner{
  width: 100%;
  height: 2rpx;
  background-color: #c7c4c4;
}
.act_badge{
  display: flex;
  justify-content: center;
}
.act_group{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.act_title{
  width: 100%;
  display: flex;
  font-size: 30rpx;
  justify-content:center;
}
.serve_detail{
  position:absolute;
  top:355rpx;
  color: aliceblue;
  width: 75%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.serve_sum{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
}
.serve_num{
  text-align: center;
  font-size: 45rpx;
}
.serve_title{
  font-size: 30rpx;
}
.activity_mine{
  position: absolute;
  top:650rpx;
  background-color: #ffffff;
  border-radius: 16rpx 16rpx 0 0;
  width: 92%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.activity_title{
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 2px;
  margin-left: 10px;
}

/* 页面背景颜色为 #f2f2f2 */
Page {
  background: #f5f5f5;
}

/* 设置导航外层样式，绝对定位设置为fixed。z-index: 999999; 能够将 nav 布局层级结果放在最上层，避免被下层view遮挡*/
.nav {
  color: #353535;
  max-height: 94rpx;
  font-size: 30rpx;
  width: 100%;
  flex-direction: column;
}

/* 设置为水平布局，文字居中显示 */
.flex {
  display: flex;
  text-align: center;
}

/* 设置选中项的底部边框 */
.nav .nav-item.current {
  border-bottom: 5rpx solid;
}
/* 设置选中项的文字颜色和大小 */
.text-selected {
  color: #B54434;
}
.nav_all{
  display: flex;
  flex-direction: row;
}
/* 设置各项的高度、边距，同时设置flex=1，表示各项平分 */
.nav .nav-item {
  height: 90rpx;
  line-height: 90rpx;
  margin: 0 10rpx;
  padding: 0 20rpx;
  flex: 1;
}
.activity_nav{
  display: inline-block;
  flex: 1;
}




