<!--pages/home/home.wxml-->
<view class="load" style="{{show?'':'top:calc((100vh - 750rpx)/2);opacity: 0;z-index:-1;'}}">
 <image class="loadingpic" src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/sign1.png"></image>
 <image class="load-imagae" src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/sign2.png"></image>
 <view class="load-centent">
 <view>签到成功</view>
 <view>获得5积分</view>
 <view bindtap="popup">好的</view>
 </view>
</view>

<image class="back_img" src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/home_pic.png" ></image>
<view class="content_img">
  <view class='pageTwo'>
  <swiper class='swiperClass' autoplay interval="2000" duration="1000" previous-margin="60px" next-margin="60px" circular bindchange="bindchange" >
  <block wx:for="{{imgUrls}}" wx:key="index">
    <swiper-item>
      <view class="img {{swiperIdx == index ? 'active' : 'quiet'}}" style="width:100%;height: 100%;">
        <image src="{{item.url}}" class="slide-image" mode='aspectFill'></image>
        <view class="img-title">{{item.title}}</view>
      </view>
    </swiper-item>
  </block>
   </swiper>
  </view>
  <view class="content" > 
   <view class="bignum">
    <view class="detailnum">
      <view class="num">100</view>
      <view class="numtitle">志愿者总数</view>
    </view>
    <t-divider layout="vertical" ></t-divider>
    <view class="detailnum">
      <view class="num">100</view>
        <view class="numtitle">总服务时长</view>
      </view>
    <t-divider layout="vertical"></t-divider>
    <view class="detailnum">
      <view class="num">100</view>
        <view class="numtitle">活动总数</view>
      </view>
  </view>
</view>
</view>

