<!--pages/index/to_news/to_news.wxml-->
<view class='news'>
  <view class='new_top_txt'>您正在与{{username}}进行沟通</view>
  <view class="historycon">
    <scroll-view scroll-y="true" scroll-top="{{scrolltop}}" class="history" wx:for="{{Message.message}}" wx:key='name'>
      <view>
        <text class='time'>{{item.createTime}}</text>
      </view>
      <block wx:if="{{item.openid==id}}">
        <view class='my_right'>
          <view class='page_row'>
            <text wx:if="{{item.type=='text'}}" class='new_txt'>{{item.content}}</text>
            <view wx:if="{{item.type=='text'}}" class='sanjiao my'></view>
            <image wx:if="{{item.type=='img'}}" src="{{item.content}}" class='new_imgtent' data-src='{{item.content}}' bindtap="phoneshow" style="margin-right: 10px;"></image>
            <video wx:if="{{item.type=='video'}}" src="{{item.content}}" style="margin-right: 10px;height:400rpx;width: 600rpx;" custom-cache="{{false}}"></video>
            <view wx:if="{{item.type=='file'}}" class='new_txt' data-src='{{item.content}}' bindtap="downloadfile"  style="margin-right: 10px;display: flex;flex-direction: row;align-items: center;">
              <image src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/download1.png" style="width: 20px;height: 20px;margin-right: 10px;"></image>
              <view class="filename">{{item.content.name}}</view>
            </view>
            <image class='new_img' src='{{openurl}}'></image>
          </view>
        </view>
      </block>
      <block wx:else>
        <view class='you_left'>
          <view class='page_row'>
            <image class='new_img' src='{{userurl}}'></image>
            <view class="content">
            <text class="name">{{username}}</text>
             <view class="inner">
             <view wx:if="{{item.type=='text'}}" class='sanjiao you'></view>
            <text wx:if="{{item.type=='text'}}" class='new_txt_left'>{{item.content}}</text>
            <image wx:if="{{item.type=='img'}}" src="{{item.content}}" class='new_imgtent' data-src='{{item.content}}' bindtap="phoneshow" style="margin-left: 10px;"></image>
            <video wx:if="{{item.type=='video'}}" src="{{item.content}}" object-fit="contain" show-center-play-btn="true" style="margin-left: 10px;height:400rpx;width: 600rpx;" custom-cache="{{false}}"></video>
            <view wx:if="{{item.type=='file'}}" class='new_txt_left' data-src='{{item.content}}' bindtap="downloadfile" style="margin-left: 10px;display: flex;flex-direction: row;align-items: center;">
              <image src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/download1.png" style="width: 20px;height: 20px;margin-right: 10px;"></image>
              <view class="filename">{{item.content.name}}</view>
            </view>
            </view>
            </view>     
          </view>
        </view>
      </block>  
    </scroll-view>
  </view>
</view>
<view class='hei' id="hei"></view>
<view class="sendmessage">
  <input style="border-radius: 3px;margin:5px;height: 40px;" type="text" bindinput="bindChange" confirm-type="done" value='{{input_content}}' placeholder="" />
  <t-icon name="add-circle" size="40px" bind:click="upimg1" wx:if="{{input_content.length==0}}" style="margin-right: 20rpx;"/>
  <button bindtap="send" wx:else class="sendbox">发送</button>
</view>
<t-popup
  visible="{{visible}}" placement="bottom" bind:tap="onOverlayClick">
  <view class="action" slot="content">
  <view class="outer" bindtap="sendpic">
  <button class="out_btn">
    <image src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/pic.png" style="width: 40px;height: 40px;"></image>
  </button>
  <text class="out_text">图片</text>
  </view>
  <view class="outer" bindtap="sendvideo">
  <button class="out_btn">
    <image src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/radio.png" style="width: 40px;height: 40px;"></image>
  </button>
  <text class="out_text">视频</text>
  </view>
  <view class="outer" bindtap="sendcase">
  <button class="out_btn">
    <image src="cloud://cloud1-7gjkjicl0da9855b.636c-cloud1-7gjkjicl0da9855b-1311534709/case.png" style="width: 40px;height: 40px;"></image>
  </button>
  <text class="out_text">文件</text>
  </view>
  </view>
</t-popup>
