.back_img{
  position: absolute;
  z-index: -100;
  width: 100%; 
  top:-26px 
}
.content_img{
  position: relative;
  top:130px;
}
.swiperClass {margin: 0;margin-top: 10px; height: 300rpx;}
.pageTwo .slide-image {width: 100%;height: 100%;border-radius: 5px; position: absolute;}
.pageTwo .img.active {transform: none;transition: all 0.2s ease-in 0s;}
.pageTwo .img.quiet {transform: scale(0.8333333);transition: all 0.2s ease-in 0s; }
.img-title{
  height: 28rpx;
  width: 100%;
  line-height: 28rpx;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 25rpx;
  position: relative;
  text-align: center;
  top:272rpx;
  border-radius: 50px;
}
.content{
  width: 100%;
  display: flex;
  position: relative;
  top:30rpx;
  justify-content: center;
}
.bignum{
  width: 85%;
  height: 100rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 2px;
  box-shadow: gray;
}
.detailnum{
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.num{
  text-align: center;
  color: #B54434;
  font-size: 45rpx;
}
.numtitle{
  font-size: 30rpx;
  color:  rgba(0,0,0,0.6);
}
