/* components/eventlist/eventlist.wxss */
/* pages/index/index.wxss */
 .list-article{
  margin-top:10rpx;
  width: 100%;
  border-radius: 5rpx;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  background-color: white;
 }
 .flex{
   display: flex;
   text-align: left;
 }
 .event_img{
   display: flex;
   align-items: center;
width: 35%;
height: 300rpx;
 }
 .img{
width: 95%;
height: 280rpx;
 }
 .event_detail{
  width: 65%;
 }
 .event_title{
   margin-top: 10rpx;
   padding-right: 15px;
   font-size: 38rpx;
   font-weight: bold;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
 .event_tags{
  display: flex;
  font-size: 22rpx;
  line-height: 40rpx;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20rpx;
 }
 .my-tag{
  color: #df705f;
  min-width: 80rpx;
  padding: 0 20rpx;
  height: 40rpx;
  text-align: center;
  border-radius: 20rpx;
  background-color: #f5e3e1;
  margin-right: 10rpx;
  margin-top: 10rpx;
}
.event_start{
  color: rgb(122, 121, 121);
  font-size: 30rpx;
  margin-bottom: 15rpx;
  margin-right: 30rpx;
}
.event_time{
  display: flex;
  flex-direction: row;
}
.event_num{
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: rgb(122, 121, 121);
  font-size: 30rpx;
  margin-bottom: 15rpx;
}

 
 